<header class="menubar">
  <div>
  <%= link_to 'Сделать визу', choose_country_path %>
  <%= link_to 'Мои визы', my_visas_path %>
  <%= link_to 'Мои документы', my_documents_path %>
  </div>

  <a href="#" id="signInButton">Sign In</a>
</header>
